<link rel="stylesheet" href="css/home.css" />
<div class="home-container">
  <div class="input-form-container">
    <h3>Upload Your File Here</h3>
    <p>Read your CSV file from here</p>
    <form action="/" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <input
          type="file"
          class="form-control"
          id="csvFile"
          name="csvFile"
          accept=".csv"
          required
        />
      </div>
      <div class="form-btn-container">
        <button type="submit" class="btn btn-dark">Upload File</button>
      </div>
    </form>
  </div>
</div>
