<link rel="stylesheet" href="css/home.css" />
<form action="/" method="post" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="imageUrl" class="form-label">Image URL</label>
    <input
      type="file"
      class="form-control"
      id="imageUrl"
      name="Clogo"
      accept="images/*"
      required
    />
  </div>
</form>
